<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add User</title>
    <!--<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>-->
    <!--<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.3.3.7.css}"/>
    <script th:src="@{/js/jquery.min.2.1.1.js}"></script>
    <script th:src="@{/js/bootstrap.min.3.3.7.js}"></script>

</head>

<body style="margin-left: 200px; margin-right: 200px; margin-top: 50px">

<form class="form-horizontal" role="form" th:action="@{/user/addUser}" th:method="post">
    <!--    <div class="form-group">
            <div class="col-sm-10">
                <p>添加用户</p>
            </div>
        </div>
        <br/>-->
    <div class="form-group">
        <label for="userAccount" class="col-sm-2 control-label">账户</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="userAccount" name="userAccount" placeholder="请输入账户"/>
        </div>
    </div>
    <div class="form-group">
        <label for="userName" class="col-sm-2 control-label">姓名</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="userName" name="userName" placeholder="请输入姓名" />
        </div>
    </div>
    <div class="form-group">
        <label for="age" class="col-sm-2 control-label">年龄</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="age" name="age" placeholder="请输入年龄"/>
        </div>
    </div>
    <div class="form-group">
        <label for="address" class="col-sm-2 control-label">地址</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="address" name="address" placeholder="请输入地址"/>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">提 交</button>
        </div>
    </div>
</form>

</body>
</html>